.App {
  background-color: #13042b;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F24B4B;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

textarea {
  height: 150px !important;
}

.form-control {
  border: 1px solid #ffffff !important;
  border-radius: 0rem !important;
}

label {
  color: #ffffff !important;
}

@media only screen and (min-width: 768px) {
  label {
    text-align: right;
  }
}

.btn {
  background-color: #F24B4B !important;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 0 !important;
}

.btn:hover {
  background-color:  #ffffff !important;
  color: #F24B4B !important;
  border: 1px solid #F24B4B !important;
  border-radius: 0 !important;
}

.App-sms {
  color: #ffffff;
  text-decoration: #F24B4B;
  text-underline-position: below;
}

.sms-report {
  border: 1px solid #ffffff;
  padding: 20px;
}

.sms-report p{
  color: #ffffff;
  font-size: 14px;
}

p {
  color: #ffffff
}